# Ignore history files spit out by the GUIs
history*.json

# Ignore net cdf files and csv files
*.nc
*.csv

# Eclipse things
.metadata/
.settings/
.project
.pydevproject

# Some kind of project data
RemoteSystemsTempFiles/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[co]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# Emacs
*~
\#*
.\#*
